@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&family=Work+Sans:wght@400;600&display=swap");

html, body{
  height: 100%;
}
body {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

header {
  flex-shrink: 0;
  height: 90px;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: left;
}

.container {
  display: flex;
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
  flex: 1 0 auto;
}

section.illustration {
  background: url("./illustration.svg") no-repeat;
  background-size: contain;
  background-position: right;
  height: 450px;
  display: block;
  width: calc(100% - 100px);
  margin: 0 0 0 20px;
  z-index: 1;
  position: relative;
}

section.home {
  max-width: 480px;
  position: relative;
  z-index: 1;
}

.hashtag {
  background: rgba(0,0,0,0.1);
  color: #726255ad;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 12px;
  display: inline-block;
  margin-bottom: 30px;
  line-height: 20px;
}

.emoji {
  font-size: 14px;
  margin: 0;
  text-align: center;
}

.emoji::after {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.hourglass::after {
  content: '⏳';
  --emoji: '⌛️';
  animation-name: twoFrames;
  animation-duration: 2s;
}

@keyframes twoFrames {
  50% {
    content: var(--emoji);
  }
}

.title {
  font-size: 72px;
  font-family: "Ubuntu", sans-serif;
  position: relative;
  left: -5px;
  color: #2e6da5;
  margin: 0;
}

#tagline{
  margin: 0;
  position: relative;
  left: -6px;
  font-size: 16px;
}

.typist {
  margin: 2px 0 20px;
  font-weight: normal;
  font-size: 22px;
}

.note{
  margin: 10px 0 50px;
  font-size: 16px;
  line-height: 1.67;
  font-weight: normal;
}


.invitation-cnt label {
  color: #747474;
  font-weight: 600;
  display: block;
  margin-bottom: 10px;
}

.invitation-cnt {
  margin: 20px 0;
}
.invitation-cnt .email-box {
  display: flex;
}
.invitation-cnt .email-box input {
  height: 48px;
  font-size: 16px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  width: 250px;
  padding: 0 20px;
}

.invitation-cnt .email-box button {
  background: #fb5085;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 4px;
  height: 50px;
  padding: 10px 20px;
  text-transform: uppercase;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  width: 130px;
  margin-left: 10px;
}

.invitation-cnt .privacy{
  margin: 10px 0;
  font-size: 12px;
  color: #000;
  opacity: 0.5;
}



footer {
  flex-shrink: 0;
  width: 100%;
  background: #23547f;
  height: 90px;
  margin-top: 30px;
}

footer .content{
  width: 90%;
  max-width: 1200px;
  color: #fff;
  font-family: "Work Sans", sans-serif;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 30px 0;
  font-size: 14px;
}

footer .content .left{
  display: inline-flex;
}

footer .content .right{
  line-height: 30px;
}


.social-media-links {
  height: 30px;
  width: 30px;
  margin: 0 4px;
  display: inherit;
}
.social-media-icons{
  background: url("./social-media.png") no-repeat;
  background-size: 77px 30px;
  height: 100%;
  width: 100%;
}

.ig{
  background-position: -8px -3px;
}

.fb{
  background-position: -42px -3px;
}


@media screen and (max-height: 650px) {
  header{
    height: 40px;
  }
}

@media screen and (max-width: 991px) {
  section.illustration {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  header {
    height: 50px;
  }
  section.home{
    width: 100%;
  }
  #tagline{
    font-size: 14px;
    width: 340px;
  }
  .title {
    font-size: 64px;
  }
  .typist{
    font-size: 20px;
  }
  .note{
    font-size: 14px;
    width: 100%;
    margin: 30px 0 50px;
  }
  .invitation-cnt label {
    font-size: 14px;
  }
  
  .invitation-cnt {
    margin: 20px 0;
  }
  
  .invitation-cnt .email-box input {
    height: 42px;
    font-size: 14px;
    width: 182px;
    margin-left: -2px;
  }
  
  .invitation-cnt .email-box button {
    border-radius: 4px;
    height: 44px;
    position: relative;
    padding: 10px 15px;
    font-size: 12px;
    top: -1px;
  }

  .invitation-cnt .privacy{
    font-size: 10px;
  }
  
  footer .content{
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0;
  }
  
  footer .content .left{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0 8px;
  }
  footer .content .right{
    width: 100%;
    text-align: center;
    font-size: 12px;
  }
  
}